/* All elements */
*
{
	-fx-text-fill: #e9f3e3;
}



/* root */
AnchorPane
{
	-fx-font-family: 'VT323', monospace;
	-fx-background-color: #4e4a4e;
    -fx-background-image: url("sprites/splitter.png");
	-fx-background-repeat: repeat-y;
    -fx-background-position: center;
	-fx-font-size: 16px;
}



/* Scroll bars */
.scroll-bar
{
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 2;
	-fx-border: 0;
	-fx-background-insets: 0;
}
.scroll-bar .track
{
	-fx-background-color: transparent;
	-fx-padding: 0;
	-fx-border: 0;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button
{
	-fx-padding: 0 4 0 0;
	-fx-border: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
	-fx-shape: "";
	-fx-padding: 0;
	-fx-border: 0;
}
.scroll-bar .thumb
{
	-fx-background-color: #757473;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-border: 0;
}



/* ListView */
.list-view
{
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-color: #3f3a41 #757473 #757473 #3f3a41;
	-fx-padding: 2;
	-fx-background-insets: 0;
}
.list-view .list-cell
{
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 8;
	-fx-cell-size: 29;
	-fx-cell-size: 33;
}
.list-view .list-cell:selected
{
	-fx-background-color: #757473;
}



/* TextArea */
.text-area
{
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-color: #3f3a41 #757473 #757473 #3f3a41;
	-fx-padding: 2;
}
.text-area .scroll-pane
{
	-fx-padding: 0;
}
.text-area .scroll-pane .viewport
{
	-fx-background-color: inherit;
}
.text-area .scroll-pane .viewport .content
{
	-fx-background-color: inherit;
	-fx-padding: 0;
}



/* label */
.label
{
	-fx-alignment: CENTER;
}



/**/
.status
{
	-fx-font-size: 20px;
}
.status.big
{
	-fx-font-size: 32px;
}
.status.bottomLeft
{
	-fx-alignment: BOTTOM_LEFT;
}
.status.bottomRight
{
	-fx-alignment: BOTTOM_RIGHT;
}
.backcover
{
	-fx-background-color: #140c1c;
}
.cover
{
	-fx-background-color: #4e4a4e;
}
.button
{
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	-fx-alignment: CENTER;
	-fx-border-width: 2;
	-fx-border-color: #757473 #3f3a41 #3f3a41 #757473;
	-fx-padding: 0;
}
.button:pressed
{
	-fx-border-color: #3f3a41 #757473 #757473 #3f3a41;
}

.up,
.down,
.left,
.right,
.moveRight,
.moveLeft
{
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.up
{
    -fx-background-image: url("sprites/arrow_up.png");
}
.down
{
    -fx-background-image: url("sprites/arrow_down.png");
}
.left
{
    -fx-background-image: url("sprites/arrow_left.png");
}
.right
{
    -fx-background-image: url("sprites/arrow_right.png");
}