.root
{
	-fx-font-family: VT323;
	-fx-font-size: 16px;
	-fx-background-color: #efd176;
}
.label
{
	-fx-font-size: 20px;
	-fx-text-fill: white;
	-fx-alignment: CENTER;
}
.label.big
{
	-fx-font-size: 32px;
}