*
{
	-fx-text-fill: white;
}
AnchorPane
{
	-fx-font-family: 'VT323', monospace;
	-fx-background-color: #4e4a4e;
    -fx-background-image: url("sprites/splitter.png");
	-fx-background-repeat: repeat-y;
    -fx-background-position: center;
	-fx-font-size: 16px;
}
.status
{
	-fx-font-size: 20px;
	-fx-alignment: CENTER;
}
.status.big
{
	-fx-font-size: 32px;
}
.backcover
{
	-fx-background-color: #140c1c;
}
.cover
{
	-fx-background-color: #4e4a4e;
}
TextArea
{
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}
ListView
{
	-fx-background-color: transparent;
	-fx-control-background: transparent;
	-fx-control-inner-background: transparent;
	-fx-border-width: 2;
	-fx-border-color: #3f3a41 #757473 #757473 #3f3a41;
}
ListView > * > * > * > *
{
	-fx-padding: 0;
}
Button
{
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-text-fill: white;
	-fx-alignment: CENTER;
	-fx-border-width: 2;
	-fx-border-color: #757473 #3f3a41 #3f3a41 #757473;
	-fx-padding: 0;
}
Button:pressed
{
	-fx-border-color: #3f3a41 #757473 #757473 #3f3a41;
}
.up
{
    -fx-background-image: url("sprites/arrow_up.png");
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.down
{
    -fx-background-image: url("sprites/arrow_down.png");
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.left
{
    -fx-background-image: url("sprites/arrow_left.png");
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.right
{
    -fx-background-image: url("sprites/arrow_right.png");
    -fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.scroll-bar
{
	
}